.spinGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tocka {
    background-image: url("../../assets/spinTypes2.png");
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.spinValue {
    display: flex;
    justify-content: space-around;
}